.sidebar-dropdown {
    margin-left: 6px;
    background-color: inherit;
    .sidebar-button,
    .dropdown-menu {
        background-color: inherit;
        color: #bbb;
    }
    .sidebar-button {
        font-size: 14px;
    }
}