.sidebar-dropdown {
    margin-left: 6px;
    background-color: inherit;
    .sidebar-button,
    .dropdown-menu {
        background-color: inherit;
        color: #bbb;
    }
    .sidebar-button {
        font-size: 14px;
    }
}

.semester-table td,
.class-table td {
    padding: 10px;
    font-size: 17px;
}

.btn-inline {
    display: inline;
}

.inline-form-col {
    margin: 0;
    padding: 0;
    &:not(:last-child) {
        margin-right: 3px;
    }
}