.sidebar-dropdown {
  margin-left: 6px;
  background-color: inherit;
}

.sidebar-dropdown .sidebar-button,
.sidebar-dropdown .dropdown-menu {
  background-color: inherit;
  color: #bbb;
}

.sidebar-dropdown .sidebar-button {
  font-size: 14px;
}

.semester-table td,
.class-table td {
  padding: 10px;
  font-size: 17px;
}

.btn-inline {
  display: inline;
}

.inline-form-col {
  margin: 0;
  padding: 0;
}

.inline-form-col:not(:last-child) {
  margin-right: 3px;
}

